.container {
  height: 75vh;
  width: 1000px;

  margin-top: 50px;
}
.positionCard {
  display: flex;
}
.middle {
  align-self: center;
}
.card {
  height: 550px !important;
}

.card h1 {
  font-size: 3em;
  position: relative;
  left: 177px;
  margin: 20px 0;
}
