<body>
  <div class="container">
    <div class="one result colorBGAqua">
      <img [src]="posts[posts.length - 1].img" alt="" class="duotone" />
      <H2>{{ posts[posts.length - 1].title }}</H2>
      <p>{{ posts[posts.length - 1].desc }}</p>
      <p>
        <i
          >Published:&nbsp;{{ posts[posts.length - 1].date }}&nbsp;<b>
            &nbsp;Author:&nbsp;{{ posts[posts.length - 1].author }}
          </b></i
        >
      </p>
    </div>
    <div class="two">
      <div class="sub">
        <div class="seven"></div>
        <div class="eight"></div>
        <div class="nine"></div>
        <div class="ten"></div>
      </div>
    </div>
    <div class="three result colorBGAqua">
      <img [src]="posts[posts.length - 2].img" alt="" class="duotone" />
      <H2>{{ posts[posts.length - 2].title }}</H2>
      <p>{{ posts[posts.length - 2].desc }}</p>
      <p>
        <i
          >Published:&nbsp;{{ posts[posts.length - 2].date }}&nbsp;<b
            >&nbsp;Author:&nbsp;
            {{ posts[posts.length - 2].author }}
          </b></i
        >
      </p>
    </div>
    <div class="four result colorBGTurquoise">4</div>
    <div class="five result colorBGTurquoise">5</div>
    <div class="sevenn result colorBGAqua">7</div>
    <div class="eightn result colorBGAqua">8</div>
    <div class="ninen result colorBGAqua">9</div>
    <div class="tenn result colorBGTurquoise">10</div>
    <div class="eleven result colorBGTurquoise">11</div>
    <div class="twelve result colorBGBlue">12</div>
    <div class="thriteen result colorBGBlue">13</div>
    <div class="fourteen result colorBGBlue">14</div>
    <div class="fifthteen result colorBGBlue">15</div>
    <div class="elevenn result colorBGBlue">16 test</div>
  </div>
</body>
